<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>HomePage</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

</head>
<body>
<h1>Students List</h1>


<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
  </tr>
 <tr th:each = "students : ${student}">
    <td th:text = "${students.name}"></td>
    <td th:text = "${students.age}"></td>
    <td th:text = "${students.email}"></td>
  </tr>
</table>

</body>
</html>